*.log
*.ctxt
.mtj.tmp/
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/misc.xml
.idea/**/discord.xml
.idea/**/encodings.xml
.idea/codeStyles/
.idea/sonarlint/
.idea/**/contentModel.xml
.idea/**/jarRepositories.xml
.idea/**/uiDesigner.xml
.idea/**/inspectionProfiles
.idea/**/.name
.idea/**/vcs.xml
.idea/**/compiler.xml
run/**
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/dbnavigator.xml
.idea/kotlinScripting.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/modules.xml
.idea/*.iml
cmake-build-*/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.idea/caches/build_file_checksums.ser
.gradle
/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
.idea/modules/
src/test/
**/src/main/generated/*
.idea/intellij-javadocs-4.0.1.xml
run/